$color-white: #ffffff;
$main-background-color: #000;
$dot-background: #e3f2ef;
$dot-color: #224d20;
$border-color: #80808040;
$checked-color: #2478f0;
$slider-uncheck: #ccc;
$control-background: #f0f0f0;
$color-view: #979797;
$settings-color: #484848;
$book-name-author: #1e1e1e;
$discription-color: #3c3c3c;
$book-author-color: #858585;
$search-second-color: #989898;
$search-field-color: #0000009c;
$search-outline: #00000026;
$percent-color: #80808070;
$show-book: #2e2c2cd6;
$form-book-background: aliceblue;
$dark-mode-hover: #303030;
$error-color: red;